---
import Layout from '../layouts/Layout.astro';

const apiKey = import.meta.env.BUILDER_API_KEY;

const handleError = (err: any) => {
  console.log(err);
  // The requested Builder content could not be found.
  if (err.response.status === 404) {
    return { data: null };
  }
  throw err;
};

const encodedUrl = encodeURIComponent('/homepage');

// HTML API attempt
// const { data: pageData } = await fetch(
//   `https://cdn.builder.io/api/v1/html/page?apiKey=${apiKey}&url=${encodedUrl}`
// )
//   .then((res) => res.json())
//   .catch(handleError);

const qwikPageData = await fetch(
  `https://cdn.builder.io/api/v1/qwik/page?apiKey=${apiKey}&url=${encodedUrl}`
)
  .then((res) => res.json())
  .catch(handleError);

// console.log(qwikPageData.html);
---

<Layout title='Welcome to Astro Builder'>
  <h1>home page</h1>
  <!-- HTML API Attempt -->
  <!-- <main set:html={pageData.html}></main> -->

  <!-- Builder web component for use with visual CMS -->
  <!-- <builder-component model='page' api-key={apiKey} />
  <script async src='https://cdn.builder.io/js/webcomponents'></script> -->
  <main set:html={qwikPageData.html}></main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
</style>
